body {
  font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ol, li{
	text-align: left;
	justify-content: left;
	align-items: left;
}
.et-hero-tabs{
	background-color: #093395;
	/*background-color: rgb(10, 69, 149);*/
}
.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  /*background: #eee;*/
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs{
	color: #fff;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  color: white;
  background: #0099d8;
  /*background: rgba(102, 177, 241, 0.8);*/
}
.et-hero-tab:hover {
  /*color: white;
  background: rgba(102, 177, 241, 0.8);*/
  color: #000;
  background: #eee;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}

#boxes-box-header_logo_blind {
    text-align: left;
	position: relative;
    height: 174px;
}

#boxes-box-header_logo_blind a.logo {
    margin-right: 20px;
    background: url(noaa_logo_circle_72x72.svg) 0 0 no-repeat;
    float: left;
    height: 74px;
    width: 74px;
}

#boxes-box-header_logo_blind a.site-name, #boxes-box-header_logo_blind a.site-slogan {
    width: 470px;
}
#boxes-box-header_logo_blind a.site-name {
    padding-top: 10px;
    font-size: 19px;
    line-height: 1.10526;
    font-size: 1.9rem;
	color: #fff;
}
#boxes-box-header_logo_blind .site-slogan {
    color: #fff;
    background-color: transparent;
}
#boxes-box-header_logo_blind a {

    display: block;
    text-decoration: none;
    font-family: "Helvetica Neue",helvetica,Arial,sans-serif;

}